mixin css(path)
	//- Stylesheet -->
	link(href=path+"css/bootstrap.min.css" rel="stylesheet" type="text/css")
	link(href=path+"css/jquery-ui.min.css" rel="stylesheet" type="text/css")
	link(href=path+"css/animate.css" rel="stylesheet" type="text/css")
	link(href=path+"css/css-plugin-collections.css" rel="stylesheet")
	//- CSS | menuzord megamenu skins -->
	link(href=path+"css/menuzord-megamenu.css" rel="stylesheet")
	link(id="menuzord-menu-skins" href=path+"css/menuzord-skins/menuzord-boxed.css" rel="stylesheet")
	//- CSS | Main style file -->
	link(href=path+"css/style-main.css" rel="stylesheet" type="text/css")
	//- CSS | Preloader Styles -->
	link(href=path+"css/preloader.css" rel="stylesheet" type="text/css")
	//- CSS | Custom Margin Padding Collection -->
	link(href=path+"css/custom-bootstrap-margin-padding.css" rel="stylesheet" type="text/css")
	//- CSS | Responsive media queries -->
	link(href=path+"css/responsive.css" rel="stylesheet" type="text/css")
	//- CSS | Style css. This is the file where you can place your own custom css code. Just uncomment it and use it. -->
	link(href="css/style.css" rel="stylesheet" type="text/css")

	//- CSS | Theme Color -->
	link(href=path+"css/colors/theme-skin-color-set2.css" rel="stylesheet" type="text/css")
